.blogContainer {
  padding-top: 80px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  padding-bottom: 60px;
}

.cancelClickScreen {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.textContainer {
  width: min(700px, 95%);
}

.headerContainer {
  background-color: #faf9f6;
  position: fixed;
  width: 100%;
  height: 70px;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.25s;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.headerContent {
  width: min(700px, 95%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 1px dashed gray;
}

.headerContainer.hide {
  opacity: 0;
  pointer-events: none;
}

.titleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.hide .titleContainer {
  cursor: initial;
}

.detectiveImage {
  height: 40px;
  width: unset;
}

.headerText {
  text-transform: uppercase;
  font-size: 1.8em;
}

.headerContainer a {
  text-decoration: none;
}
