.annotationContainer {
  width: 500px;
  max-width: calc(100% - 40px);
  max-height: 50%;
  bottom: 20px;
  right: 20px;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.96);
  border: 1px solid var(--theme-gray);
  border-top: 4px solid var(--theme-gray);
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  box-sizing: border-box;
  border-radius: 5px;
  overflow-y: scroll;
}

.annotationTitle {
  background-color: var(--theme-yellow);
  display: inline-block;
  margin-bottom: 8px;
}

.annotationType {
  font-family: var(--sans-serif-font), sans-serif;
  color: var(--theme-gray);
  margin-bottom: 10px;
  font-size: 0.8em;
}
