.paragraphContainer.codeBlock {
  font-family: "Ubuntu Mono", monospace;
  background-color: var(--theme-light-gray);
  border-left: 4px solid var(--theme-gray);
  white-space: pre-wrap;
  padding: 10px;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.paragraphContainer {
  margin-bottom: 10px;
}

.paragraphContainer.quote {
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-left: 4px solid var(--theme-dark-blue);
  background-color: var(--theme-baby-blue);
  border-radius: 15px;
}

.newline {
  height: 10px;
}
