.postContentContainer {
  padding-left: 25%;
  width: 50%;
  padding-top: 40px;
}

.blogContainer {
  width: 100%;
  position: relative;
  margin-bottom: 100px;
}

.annotationContainer {
  position: fixed;
  width: 35%;
  right: 20px;
  bottom: 20px;
  border: 1px solid var(--theme-gray);
  border-top: 4px solid var(--theme-gray);
  background-color: rgba(255, 255, 255, 0.96);
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  box-sizing: border-box;
  border-radius: 10px;
}

.annotationTitle {
  background-color: var(--theme-yellow);
  display: inline;
}

.annotationBody {
  display: inline;
}

.annotationType {
  font-family: "Roboto", sans-serif;
  color: var(--theme-gray);
  margin-bottom: 10px;
  font-size: 0.8em;
}
