.postContainer {
  position: relative;
  font-family: var(--body-font), sans-serif;
  width: 100vw;
  padding-left: max(10px, calc(40% - 200px));
  padding-right: max(10px, calc(40% - 200px));
  box-sizing: border-box;
  margin-bottom: 100px;
  padding-top: 40px;
  font-size: clamp(16px, 2vw, 18px);
}
