.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.code {
  font-family: "Ubuntu Mono", monospace;
  background-color: rgba(0, 0, 0, 0.073);
  padding: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 3px;
}

.footnote {
  text-decoration: underline;
  text-decoration-color: var(--theme-orange);
  text-decoration-thickness: 2px;
  cursor: pointer;
}

.definition {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-style: dotted;
  cursor: pointer;
}

.image {
  height: 50vh;
}

.partition {
  position: relative;
}

.partition.highlighted {
  background-color: var(--theme-yellow);
}
