.default {
  cursor: inherit;
}

.emphasis {
  font-style: italic;
}

.strong {
  font-weight: bold;
}

.paragraph {
  margin-bottom: 20px;
}

.paragraph:last-child {
  margin-bottom: 0;
}

li .paragraph {
  margin-bottom: 0;
}

.hook {
  text-decoration: underline;
  text-decoration-color: rgb(250, 171, 23);
  text-decoration-thickness: 2px;
  cursor: pointer;
}

.mono {
  background-color: rgba(0, 0, 0, 0.073);
  padding: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 3px;
  margin-left: 2px;
  margin-right: 2px;
  font-size: 0.9em;
}

.blockQuote {
  border-left: 4px solid black;
  white-space: pre-wrap;
  padding-left: 14px;
  background-color: rgb(249, 249, 249);
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

.hidden {
  display: none;
}
