:root {
  --theme-black: rgb(34, 34, 37);
  --theme-light-gray: rgb(245, 245, 248);
  --theme-gray: rgb(101, 101, 116);
  --theme-yellow: rgb(245, 234, 198);
  --theme-baby-blue: rgb(239, 247, 252);
  --theme-dark-blue: rgb(115, 156, 183);
  --theme-baby-green: rgb(233, 243, 237);
  --theme-dark-green: rgb(133, 154, 131);
  --theme-orange: rgb(243, 166, 24);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Playfair Display", sans-serif;
  color: rgb(63, 63, 69);
  font-size: 18px;
}

a {
  color: var(--theme-gray);
}
